html {
  font-size: 16px;
  font-family: 'Open Sans';
}

/*NAV STYLES*/
nav {
  height: 3.875rem;
}

.navbar-inverse {
  background-color: #000;
}

.navbar-left {
  background-image: url(../images/logo-color.png);
  background-size: 100% 100%;
  background-position: center;
  width: 177px;
  height: 50px;
  margin: 0.25rem auto auto 3.6875rem;
}

.navbar-right {
  padding-right: 3.4375rem;
}

.navbar-inverse .navbar-nav li a {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  margin: 0.25rem auto;
}

.navbar-inverse .navbar-nav .active a {
  background-color: #000;
  color: #f5a623;
}

/*JUMBOTRON STYLES*/
.home {
  background-image: url(../images/dancers-photo.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  margin: 3.875rem auto auto auto;
}

.jumbotron .container-fluid {
  width: 45rem;
}

.jumbotron h1 {
  font-family: 'Roboto';
  font-size: 3.125rem;
  font-weight: bold;
  line-height: 1;
  margin-top: 9.4375rem;
}

.jumbotron p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 2.6875rem;
}

.jumbotron a {
  margin: 5rem auto 3.125rem auto;
}

.jumbotron .btn-primary {
  background-color: #f5a623;
  border-radius: 2px;
  font-size: 1.375rem;
  font-weight: bold;
  padding: 1.25rem 3.125rem;
}

/*HERO STYLES*/
.hero {
  height: 31.25rem;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.hero .container-fluid{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
}

.graffiti {
  background-image: url(../images/graffiti-photo.png);
}

.fire {
  background-image: url(../images/fire-photo.png);
}

.jump {
  background-image: url(../images/jump-photo.png);
}

.map {
  background-image: url(../images/map.jpg);
}

.example {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  padding-left: 3rem;
}

.example h1 {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
}

.example p {
  font-size: 1.125rem;
  line-height: 1.4;
  padding: 1.25rem 0;
}

.dark-purple {
  background-color: rgba(120, 73, 225, 0.9);
}

.light-purple {
  background-color: rgba(173, 74, 226, 0.9);
}

/*ABOUT PAGE HERO*/
.about-hero {
  background-color: #fff;
  border-bottom: 10px solid #794ae2;
  display: flex;
  margin: 3.875rem auto 0 auto;
}

.about-hero img {
  max-width: 100%;
  height: auto;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  max-height: 590px;
}

.about-text h1 {
  font-size: 3.125rem;
  font-weight: bold;
  color: #794ae2;
}

.about-text p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 4rem;
  color: #666666;
}

.location h1 {
  margin-bottom: 2rem;
}

.location p {
  padding: 0;
  line-height: 1;
}

/*DANCE STYLES*/
.dance {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

.alternate {
  background-color: #fff;
}

.dance-container {
  display: flex;
  justify-content: space-around;
  max-width: 62%;
  margin: 4rem 19%;
}

.dance-container img {
  height: 9.375rem;
  width: auto;
  margin-top: 4.5rem;
}

.dance-text {
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.alternate .dance-text {
  padding-right: 5rem;
}

.dance-text h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #794ae2;
}

.dance-text p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #666666;
}

.dance-container .chrysler {
  height: 13rem;
  margin-top: 2.5rem;
}

/*FOOTER STYLES*/
footer {
  height: 18.125rem;
  width: 100%;
  margin: 0 auto;
  background-image: url(../images/party-photo.png);
  color: #fff;
  display: flex;
  flex-direction: column;
}

.top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1rem 0 1rem;
  height: auto;
}

.icons i {
  padding: 0 2rem;
}

.bottom-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  margin-top: 2rem;
}

/*MOBILE STYLES*/
/*TABLET*/
@media only screen and (max-width: 768px) {
  /*STOP NAV FROM STACKING*/
  .navbar-nav li,
  .navbar-nav {
    float: left !important;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
  }

  .navbar-right {
    float: right !important;
    margin: -3rem !important;
  }

  /*JUMBOTRON*/
  .jumbotron .container-fluid {
    width: 31.25rem;
  }

  /*HERO STYLES*/
  .example {
    height: 12.1875rem;
    padding: 1.875rem 3.4375rem auto 1.875rem;
  }

  .example h1 {
    font-size: 1.875rem;
    line-height: 1.4;
  }

  .example p {
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 0.625rem;
  }

  /*FOOTER STYLES*/
  .desktop {
    display: none;
  }

  .top-banner {
    justify-content: center;
    font-size: 75%;
    padding: auto;
    height: 2.5rem;
  }

  .icons {
    max-width: 5.4375rem;
    display: flex;
    justify-content: center;
  }

  .bottom-banner {
    font-size: 0.625rem;
    letter-spacing: 0.5px;
  }

  footer {
    text-align: center;
  }
}

/*PHONE*/
@media only screen and (max-width: 480px) {
  /*NAV STYLES*/
  nav {
    height: 2.5rem;
  }

  .nav {
    padding: 0 0.625rem;
  }

  .navbar-left {
    background-image: url(../images/logo-mobile.png);
    background-size: 100% 100%;
    background-position: center;
    width: 37px;
    height: 30px;
    margin-left: 0;
  }

  .navbar-inverse .navbar-nav li a {
    font-size: 0.75rem;
    color: #fff;
    margin: 0.75rem auto;
  }

  /*JUMBOTRON*/
  .jumbotron {
    margin: 2.5rem auto auto auto;
  }

  .jumbotron .container-fluid {
    width: 18.5rem;
  }

  .jumbotron h1 {
    font-size: 1.875rem;
    margin-top: 7.125rem;
  }

  .jumbotron p {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 1.625rem;
  }

  .jumbotron a {
    margin-top: 3.875rem;
  }

  /*HERO*/
  .example {
    padding: 1.25rem;
  }

  .example h1 {
    font-size: 1.25rem;
    line-height: 1.2;
  }

  .example p {
    font-size: 1rem;
  }
}
